[Unit]
Description=obftun server
After=network-online.target obftun-bridge.service
Wants=network-online.target
Requires=obftun-bridge.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/obftun

Environment="OBFTUN_BIND=:8443"
Environment="OBFTUN_CERTIFICATE=/opt/obftun/server.crt"
Environment="OBFTUN_KEY=/opt/obftun/server.key"
Environment="OBFTUN_CA=/opt/obftun/ca.crt"
Environment="OBFTUN_SCRIPT=/opt/obftun/ifconfig-server.sh"
Environment="OBFTUN_FAKE=example.com"

ExecStart=/opt/obftun/obftun

KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=obftun-server

[Install]
WantedBy=multi-user.target