[Unit]
Description=obftun server
After=network-online.target obftun-bridge.service
Wants=network-online.target
Requires=obftun-bridge.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/obftun

Environment="OBFTUN_BIND=:80"
Environment="OBFTUN_SECRET=CHANGE_ME"
Environment="OBFTUN_SCRIPT=/opt/obftun/ifconfig-server.sh"

ExecStart=/opt/obftun/obftun

KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=obftun-server

[Install]
WantedBy=multi-user.target
